<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/vue.min.js.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<style>
			.item-img {
				width: 60px;
				height: 90px;
				margin-right: 10px;
			}
		</style>
	</head>

	<body>
		<div class="mui-scroll-wrapper" id="refreshContainer">
			<div class="mui-scroll">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" v-for="(item,index) in movie" @tap="openDetails(item)">
						<img class="mui-pull-left item-img" :src="item.images.medium">
						<div class="mui-ellipsis dark-big">
							{{item.title}}
						</div>
						<div class="mui-ellipsis">
							<span class="dark-small" v-for="r in item.genres">{{r}}</span>
							<span class="orange-small">{{item.rating.average}}分</span>
						</div>
						<div class="mui-ellipsis gray-small">
							导演：<span>{{item.directors}}</span>
						</div>
						<div class="mui-ellipsis gray-small">
							主演：<span>{{item.casts}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#refreshContainer',
				data: {
					movie: []
				},
				methods:{
					openDetails:openDetails
				}
			})
			mui.init({
				pullRefresh: {
					container: "#refreshContainer", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					down: {
						style: 'circle',
						height: 50, //可选,默认50.触发下拉刷新拖动距离,
						auto: false, //可选,默认false.首次加载自动下拉刷新一次
						contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
						contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
						contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
						callback: refreshDown
					},
					up: {
						auto:false,
						height: 50, //可选.默认50.触发上拉加载拖动距离
						contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: refreshUp //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			})
			var movieDetails
			function openDetails (item){
				mui.fire(movieDetails,'movieId',{
					id:item.id
				})
				mui.openWindow({
					id:'movie-details'
				})
			}
			function refreshDown() {
				mui.getJSON('https://api.douban.com/v2/movie/in_theaters', {

				}, function(res) {
					vm.movie = []
					vm.movie = processData(res.subjects)
					mui('#refreshContainer').pullRefresh().endPulldown()
					//						mui('#refreshContainer').pullRefresh().refresh(true);
				})
			}
			function refreshUp() {
				mui.getJSON('https://api.douban.com/v2/movie/in_theaters', {
					start: vm.movie.length,
					count: 10
				}, function(res) {
					vm.movie = vm.movie.concat(processData(res.subjects))
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(vm.movie.length >= res.total);
				})
			}
			function processData(data) {
				data.forEach(function(item, index) {
					item.genres = item.genres.join('/')
					item.directors = item.directors.map(function(ele, i) {
						return ele.name
					}).join('/')
					item.casts = item.casts.map(function(ele, i) {
						return ele.name
					}).join('/')
				})
				return data
			}
			function ready(){
				plus.nativeUI.showWaiting('loading')
				mui.getJSON('https://api.douban.com/v2/movie/in_theaters', {

				}, function(res) {
					vm.movie = []
					vm.movie = processData(res.subjects)
					plus.nativeUI.closeWaiting()
				})
				movieDetails = mui.preload({
					id:'movie-details',
					url:'./movie-details.html'
				})
			}
			mui.plusReady(ready)
		</script>
	</body>

</html>